<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiplomVirtualEnterprize.Properties.Settings.virtual_enterpriseConnectionString"
            connectionString="Data Source=USER-ПК\SQLEXPRESS;Initial Catalog=virtual_enterprise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>